.blocPos {
    height: 80px;
    background-color: rgb(234, 212, 255);
    border: 1px solid black;
    margin:0;
    
}

.case {
    border: 1px solid black;
    border-radius: 5px;
    text-align:center;
    
}

body{
    padding: 20px;
}